\documentclass[12pt,a4paper]{article}
\usepackage[T2A]{fontenc}
\usepackage[utf8]{inputenc}
\usepackage[russian]{babel}
\usepackage{hyperref}
\usepackage[NoDate]{currvita}
\usepackage{xcolor}
\hypersetup{
    colorlinks,
    linkcolor={red!50!black},
    citecolor={blue!50!black},
    urlcolor={blue!80!black}
}
\newcommand*{\ac}[1]{\mbox{#1}}
\tolerance=600
\begin{document}
\begin{cv}{<<resume.title>>}
<% for section in resume.sections %>
  <% if section.entries %>
  \begin{cvlist}{<<section.title>>}
    <% for entry in section.entries %>
  \item[<<entry.title>>] <<entry.content>>
      <% if entry.subentries %>
    \begin{itemize}
        <% for subentry in entry.subentries %>
    \item <<subentry.content>>
        <% endfor %>
    \end{itemize}
      <% endif %>
    <% endfor %>
  \end{cvlist}
  <% endif %>
<% endfor %>
\end{cv}
\end{document}
\endinput
